<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 errorclass align-items-center">
                        <figure class="errimg">
                            <img src="images/404error.png" alt="nishu" class="img-fluid">
                        </figure>

                        <p>Welcome To Our Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>