<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!---main header------>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure >
                        <img src="images/aboutus.jpg" alt="neetu" class="img-fluid"></figure>
                        
                      
                  </div>
                  <!---left side div-->
                  <div class="col-md-6 col-12 main_header_left">
                    <p>
                        Welcome to my weather app
                    </p>
                    <h1>
                     I Am A <span class="text_color">Mern Stack Developer</span> Youtuber And A Student
                    </h1>
                    <a href="https://codingcompetitions.withgoogle.com/hashcode/" target="_neetu"><button>About me</button></a>
                  </div>
                  <!--right side div-->
                 
              </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>